.prod-pics {
  -ms-transform: scale(.7, .7); /* IE 9 */
  -webkit-transform: scale(.7, .7); /* Safari */
  transform: scale(.7, .7);
  /*display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;*/
  text-align: center;
  font-size: 20px;
  

}
